extends ../layout

block content 
  .container
    .row.justify-content-center
      .col-5
        form(action="/user/signin", method="post")
          .modal-body 
            .form-group
              .row.justify-content-center
                .col-4
                  label(for="signupName") 用户名
                input#signupName.form-contol.col-8(type="text",name="user[name]",)
            .form-group
              .row.justify-content-center
                .col-4
                  label(for="signupPassword") 密码
                input#signupPassword.form-contol.col-8(type="text",name="user[password]",)
            .row.justify-content-center
              .col-8
                button.btn.btn-success.btn-block(type="submit") 登 录
