*{
	margin: 0;
	padding: 0;
	
}
.warp{
	width: 900px;
	height: 630px;
	background: #FFA500;
	margin: auto;
	
}
.stage{
	width: 600px;
	height: 400px;
	background: #FFFF00;
	margin: auto;
	box-shadow: 0 0 20px #000;
	position: relative;
	top: 100px;
}
ul li{
	list-style: none;
	display: inline-block;
	height:150px;
	width: 150px;
	background: cornflowerblue;
	margin: 20px;
	box-shadow: 0 0 10px #000000;
	position: relative;
}
ul li i{
	display: inline-block;
	position: absolute;
	top: 20px;
	left: 33px;
	/*height: 100px;
	width: 100px;*/
	/*background: #000000;*/
	
}
ul li i img{
	height: 80px;
	width: 80px;
	/*position: absolute;
	top:10px;
	left: 10px;*/
}
ul li p{
	position: absolute;
	top:120px;
	left: 45px;
	color: #FFF;
	font-size: 24px;
}
