extends ../layout
block content 
  .container
    .row.justify-content-around
      each item in movies 
        .col-md-2
          .thumbnail
            a(href="/movies/"+ item._id)
              img(src=item.poster, alt="#{item.title}")
            .caption
              h3 #{item.title}
              p: a.btn.btn-primary(href="/movies/#{item._id}",role="button") 观看预告片