extends ../layout
block content 
  .container
    .row.justify-content-around
      each item in movies 
        .col-md-3
          .thumbnail
            a(href="/movie/"+ item._id)
              img.poster(src=item.poster, alt="#{item.title}")
            .caption
              h4 #{item.title}
              p: a.btn.btn-primary(href="/movie/#{item._id}",role="button") 观看预告片