@font-face {
	font-family:"Raphaelicons";
	src: url('../fonts/raphaelicons-webfont.eot') format('eot'),
		 url('../fonts/raphaelicons-webfont.ttf') format('truetype'),
		 url('../fonts/raphaelicons-webfont.woff') format('woff'),
		 url('../fonts/raphaelicons-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	background: #ddd;
	font-weight: 400;
	font-size: 15px;
	color: #333;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
}
a{
	text-decoration: none;
	color: #555;
}
.clr{
	width: 0;
	overflow: hidden;
	clear: both;
	padding: 0;
	margin: 0;	 
}
.player{
	position: fixed;
	bottom: 50px;
	right: 50px;
}
.st-container{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top:0;
	
}
.player{
	position: fixed;
	bottom: 50px;
	right: 80px;
}
.st-container > input,
.st-container >a{
	width: 20%;
	height: 34px;
	line-height: 34px;
	position: fixed;
	bottom: 0;
	cursor: pointer;
}
.st-container >input{
	opacity: 0;	
	z-index: 1000;

} 
.st-container >a{
	z-index: 10;
	font-weight: 700;
	font-size: 16px;
	background: #e23a6e;
	text-align: center;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
}

#st-control-1,#st-control-1 + a{
	left: 0%;
}
#st-control-2,#st-control-2 + a{
	left: 20%;
}
#st-control-3,#st-control-3 + a{
	left: 40%;
}
#st-control-4,#st-control-4 + a{
	left: 60%;
}
#st-control-5,#st-control-5 + a{
	left: 80%;
}

.st-container input:checked +a,
.st-container input:checked:hover + a{
	background: #821134;
}
.st-container input:checked +a:after{
	content: "";
	width: 0;
	height: 0;
	overflow: hidden;
	border: 20px solid transparent;
	border-bottom-color:#821134 ;
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -20px; 
}
.st-container input:hover + a{
	background: #ad244f;
}

/*内容*/
.st-scroll,
.st-panel{
	width: 100%;
	height:100%;
	position:relative;
}

.st-scroll{
	left: 0px;
	top: 0;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}
.st-panel{
	background: #FFF;
	overflow: hidden;
}
#st-control-1:checked ~ .st-scroll{
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-ms-transform: translateY(0%);
	-o-transform: translateY(0%);
	transform: translateY(0%);
}
#st-control-2:checked ~ .st-scroll{
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
}
#st-control-3:checked ~ .st-scroll{
	-webkit-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	-o-transform: translateY(-200%);
	transform: translateY(-200%);
}
#st-control-4:checked ~ .st-scroll{
	-webkit-transform: translateY(-300%);
	-moz-transform: translateY(-300%);
	-ms-transform: translateY(-300%);
	-o-transform: translateY(-300%);
	transform: translateY(-300%);
}
#st-control-5:checked ~ .st-scroll{
	-webkit-transform: translateY(-400%);
	-moz-transform: translateY(-400%);
	-ms-transform: translateY(-400%);
	-o-transform: translateY(-400%);
	transform: translateY(-400%);
}

.st-desc{
	width: 200px;
	height: 200px;
	background: #fa96b5;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -100px;
	-webkit-transform: translateY(-50%) rotate(45deg);
	-moz-transform: translateY(-50%) rotate(45deg);
	-ms-transform: translateY(-50%) rotate(45deg);
	-o-transform: translateY(-50%) rotate(45deg);
	transform: translateY(-50%) rotate(45deg);
}

[data-icon]:after{
	content:attr(data-icon);
	width: 200px;
	height: 200px;
	color: #FFFFFF;
	font-size: 90px;
	text-align: center;
	line-height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -100px 0 0 -100px;
	-webkit-transform: rotate(-45deg) translateY(25%);
	-moz-transform: rotate(-45deg) translateY(25%);
	-ms-transform: rotate(-45deg) translateY(25%);
	-o-transform: rotate(-45deg) translateY(25%);
	transform: rotate(-45deg) translateY(25%);
	font-family:"Raphaelicons";
	text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
}

.st-panel h2{
	color: #E23A6E;
	font-size: 50px;
	line-height: 50px;
	text-align: center;
	font-weight: 900;
	width: 80%;
	position: absolute;
	left: 10%;
	top: 50%;
	margin-top:-70px ;
	text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
	-webkit-backface-visibility: hidden;
}

#st-control-1:checked ~ .st-scroll #st-panel-1 h2,
#st-control-2:checked ~ .st-scroll #st-panel-2 h2,
#st-control-3:checked ~ .st-scroll #st-panel-3 h2,
#st-control-4:checked ~ .st-scroll #st-panel-4 h2,
#st-control-5:checked ~ .st-scroll #st-panel-5 h2{
	-webkit-animation:moveDown 0.6s ease-in-out 0.2s backwards;
	-moz-animation:moveDown 0.6s ease-in-out 0.2s backwards;
	-ms-animation:moveDown 0.6s ease-in-out 0.2s backwards;
	-o-animation:moveDown 0.6s ease-in-out 0.2s backwards;
	animation:moveDown 0.6s ease-in-out 0.2s backwards;
}
@-webkit-keyframes moveDown{
	from{-webkit-transform: translateY(-40px);
	opacity: 0;}
	to{webkit-transform: translateY(0px);
	opacity: 1;}
}
@-moz-keyframes moveDown{
	from{-moz-transform: translateY(-40px);
	opacity: 0;}
	to{-moz-transform: translateY(0px);
	opacity: 1;}
}
@-ms-keyframes moveDown{
	from{-ms-transform: translateY(-40px);
	opacity: 0;}
	to{-ms-transform: translateY(0px);
	opacity: 1;}
}
@-o-keyframes moveDown{
	from{-o-transform: translateY(-40px);
	opacity: 0;}
	to{-o-transform: translateY(0px);
	opacity: 1;}
}
@keyframes moveDown{
	from{transform: translateY(-40px);
	opacity: 0;}
	to{transform: translateY(0px);
	opacity: 1;}
}

.st-panel p1{
	position: absolute;
	width: 50%;
	left: 25%;
	top: 50%;
	font-size: 16px;
	line-height: 22px;
	padding: 0;
	text-align: center;
	-webkit-backface-visibility: hidden;
	color: #8b8b8b;
	margin-top: 10px;
}

#st-control-1:checked ~ .st-scroll #st-panel-1 p1,
#st-control-2:checked ~ .st-scroll #st-panel-2 p1,
#st-control-3:checked ~ .st-scroll #st-panel-3 p1,
#st-control-4:checked ~ .st-scroll #st-panel-4 p1,
#st-control-5:checked ~ .st-scroll #st-panel-5 p1{
	-webkit-animation:moveUp 0.6s ease-in-out 0.2s backwards;
	-moz-animation:moveUp 0.6s ease-in-out 0.2s backwards;
	-ms-animation:moveUp 0.6s ease-in-out 0.2s backwards;
	-o-animation:moveUp 0.6s ease-in-out 0.2s backwards;
	animation:moveUp 0.6s ease-in-out 0.2s backwards;
}

@-webkit-keyframes moveUp{
	from{-webkit-transform: translateY(40px);
	opacity: 0;}
	to{-webkit-transform: translateY(0px);
	opacity: 1;}
}
@-moz-keyframes moveUp{
	from{-moz-transform: translateY(40px);
	opacity: 0;}
	to{-moz-transform: translateY(0px);
	opacity: 1;}
}
@-ms-keyframes moveUp{
	from{-ms-transform: translateY(40px);
	opacity: 0;}
	to{-ms-transform: translateY(0px);
	opacity: 1;}
}
@-o-keyframes moveUp{
	from{-o-transform: translateY(40px);
	opacity: 0;}
	to{-o-transform: translateY(0px);
	opacity: 1;}
}
@keyframes moveUp{
	from{transform: translateY(40px);
	opacity: 0;}
	to{transform: translateY(0px);
	opacity: 1;}
}

.st-color{
	background: #fa96b5;
}
.st-color .st-desc{
	background: #fff;
	
}
.st-color [data-icon]:after{
	color: #FA96B5;
	
}
.st-color h2{
	color: #FFFFFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.st-color p1{
	color: rgba(255,255,255,0.8);
}

@media screen and (max-width: 520px){
	.st-panel h2{
		font-size: 42px;
	}
	.st-panel p1{
		width: 90%;
		left: 5%;
		margin-top: 0;
	}
	.st-container > a{
		font-size: 13px;
	}
}
@media screen  and (max-width: 360px) {
	.st-panel h2{
		font-size: 30px;
	}
	.st-container > a{
		font-size: 10px;
	}
	.st-desc{
		width: 100px;
		height: 100px;
		margin-left: -50px;
	}
	[data-icon]:after{
		font-size: 50px;
		-webkit-transform: rotate(-45deg) translateY(15%);
		-moz-transform: rotate(-45deg) translateY(15%);
		-ms-transform: rotate(-45deg) translateY(15%);
		-o-transform: rotate(-45deg) translateY(15%);
		transform: rotate(-45deg) translateY(15%);

	}
}
