body{
	background: #333;
}
.nav{
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 0;
	background: #333;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	z-index: 2;
}
h1{
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	margin-top: 10px;
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	
}
.wrap{
	top: 60px;
	width: 1080px;
	height: 600px;
	position: relative;
	margin: 30px auto;

}
img{
	position: absolute;
	width: 300px;
	height: 160px;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	
}
.effect{
	position: absolute;
	-webkit-box-shadow: 0px 5px 5px rgba(0,0,0,0.5),0px 0px 40px rgba(0,0,0,0.5) inset;
	-moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.3),0px 0px 40px rgba(0,0,0,0.3) inset;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.5),0px 0px 40px rgba(0,0,0,0.5) inset;
}
.effect:before{
	content: '';
	position: absolute;
	z-index: -2;
	width: 89%;
	height: 78%;
	left: 12px;
	bottom: 10px;
	background: transparent;
	-webkit-box-shadow: 0 8px 20px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 8px 20px rgba(0,0,0,0.6);
	box-shadow: 0 8px 20px rgba(0,0,0,0.6);
	-webkit-transform: skew(-11deg) rotate(-4deg);
	-moz-transform: skew(-11deg) rotate(-4deg);
	-ms-transform: skew(-11deg) rotate(-4deg);
	-o-transform: skew(-11deg) rotate(-4deg);
	transform: skew(-11deg) rotate(-4deg);
	
}
.effect:after{
	content: '';
	position: absolute;
	z-index: -2;
	width: 89%;
	height: 78%;
	right: 13px;
	bottom: 9px;
	background: transparent;
	-webkit-box-shadow: 0 8px 20px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 8px 20px rgba(0,0,0,0.6);
	box-shadow: 0 8px 20px rgba(0,0,0,0.6);
	-webkit-transform: skew(12deg) rotate(4deg);
	-moz-transform: skew(12deg) rotate(4deg);
	-ms-transform: skew(12deg) rotate(4deg);
	-o-transform: skew(12deg) rotate(4deg);
	transform: skew(12deg) rotate(4deg);
	
}

img:hover{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
	z-index: 1;
}

.pic1{
	top: 20px;
	left: 20px;
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	transform: rotate(20deg);
}

.pic2{
	top: 20px;
	right: 20px;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	transform: rotate(-10deg);
}
.pic3{
	bottom: 20px;
	left: 0px;
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	transform: rotate(-20deg);
}
.pic4{
	bottom: 20px;
	right: 0px;
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	transform: rotate(20deg);
}
.pic5{
	top: 50%;
	left: 50%;
	margin-left: -140px;
	margin-top: -75px;
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	transform: rotate(-20deg);
}
.pic6{
	top: 20px;
	left: 50%;
	margin-left: -140px;
	
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	transform: rotate(-20deg);
}
.pic7{
	bottom: 20px;
	left: 50%;
	margin-left: -140px;
	
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	transform: rotate(20deg);
}
.pic8{
	bottom: 40%;
	left: 0;
	margin-top: 150px;
	
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	transform: rotate(-10deg);
}
.pic9{
	bottom: 40%;
	right: 0;
	margin-top: 150px;
	
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	transform: rotate(10deg);
}

.player{
	
	position: fixed;
	margin: 0;
	padding: 0;
	right: 30px;
	bottom: 0px;
	z-index: 5;
	
}
.player:hover{
	
	margin: 0;
	padding: 0;
	bottom: 2px;
	
	
}
.back-to-index{
	text-decoration: none;
	font-size: 14px;
	position: fixed;
	left: 30px;
	top: 10px;
	padding: 5px 10px;
	background: transparent;
	border: 1px solid #FFFFFF;
	color: #fff;
	border-radius: 7px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	
}
.back-to-index:hover{
	top: 9px;
	box-shadow: 8px 8px 8px rgba(0,0,0,0.3);
}
.footer{
	
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
	margin: 0;
	padding: 0;
	background: #333;
	box-shadow: -5px -5px 5px rgba(0,0,0,0.5);
	z-index: 3;
	
}
