*{
	margin: 0;
	padding: 0;	
}
#main{
	position: relative;
}
.box{
	padding: 15px 0 0 15px;
	float: left;
}
.pic{
	padding: 10px;
	border: 1px solid #ccc;
	box-shadow: 0 0 5px #CCCCCC;
	border-radius: 5px;
	
}
.pic img{
	width: 165px;
	height: auto;
}
